.content {
    vertical-align: top;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    background-color: #fff;
    height: 1350px;
    min-width: 800px;
    overflow: hidden;
}