.title {
  display: inline-block;
  width: 153px;
  height: 31px;
  margin-top: 12px;
  margin-left: 11px;
}

.logo {
  height: 31px;
}

.menu {
  display: inline-block;
  margin-top: 14px;
  margin-left: 22px;
  vertical-align: top;
}

.navigation {
  display: inline-block;
  width: 181px;
  margin-left: 19px;
  font-family: HelveticaNeue, serif;
  vertical-align: top;
}

.header {
  height: 56px;
}

.rectangle {
  width: 20px;
  height: 2px;
  margin-top: 5px;
  background-color: #000000;
}

.rectangleDark {
  background-color: #ffffff;
  composes: rectangle;
}

.search {
  color: white;
  display: inline-block;
  width: calc(100% - 499px);
  min-width: 301px;
  height: 32px;
  margin-top: 11px;
  margin-left: 114px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  vertical-align: top;
}

.searchDark {
  background-color: #555555;
  box-shadow: inset 0 0 0 1px #333333;
  opacity: 1;
  composes: search;
}

.searchInput {
  display: inline-block;
  width: calc(100% - 25px);
  min-width: 276px;
  height: 32px;
  padding-left: 16px;

  border-style: none;
  background: none;
  color: #000000;
  font-family: Yandex Sans, serif;
  font-size: 15px;
  line-height: 2.13;
  outline: none;
  vertical-align: middle;
}

.searchInputDark {
  color: #ffffff;
  composes: searchInput;
}

.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchInput::-webkit-input-placeholder {
  color: black;
}

.searchInputDark::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchInputDark::-webkit-input-placeholder {
  color: white;
}

.searchCancelButton {
  display: inline-block;
  width: 9px;
  height: 9px;

  border-style: none;
  -webkit-appearance: none;
  background: url(../../images/cross-symbol.png) no-repeat;
  background-size: 9px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.searchCancelButtonDark {
  composes: searchCancelButton;
  background: url(../../images/cross-symbol-dark.png) no-repeat;
  background-size: 9px;
}

.changeThemeButton {
  width: 80px;
  height: 32px;

  border: none;
  -webkit-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #333333;
  outline: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  float: right;
  margin-right: 26px;
}

.changeThemeButtonText {
  display: inline;
  padding-top: 7px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.changeThemeButtonDark {
  background-color: #6287bd;
  composes: changeThemeButton;
}
