.header {
  display: inline-block;
  width: 100%;
  min-width: 800px;
  height: 5%;
}

.header__ypLogo {
  display: inline-block;
  width: 200px;
  margin-left: 11px;
  font-size: 170%;
  vertical-align: text-bottom;
}

.header__button {
  width: 80px;
  height: 35px;
  margin-bottom: 8px;

  border: #6287bd;
  background-color: #6287bd;
  border-radius: 3px;
  float: right;
}

.header__textWrite {
  display: inline-block;
  width: 56px;
  height: 15px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: HelveticaNeue;
  font-size: 12px;
  vertical-align: center;
}
