.className {
  width: 100%;
  min-width: 574px;

  border-top: solid 2px #e2e2e2;
  font-family: HelveticaNeue, serif;
}

.menuText {
  font-size: 11px;
  font-weight: normal;
}

.menuLink {
  composes: menuText;
  display: inline-block;
  margin-right: 20px;
}

.menu {
  padding: 0;
  margin: 0;
  float: right;
  list-style-type: none;
}

.link {
  color: #9b9b9b;
  composes: myLink from '../page/page.module.css';
}

.myCopy {
  color: #9b9b9b;
}
