.footer__links {
  margin-left: 30px;
  color: #9b9b9b;
  font-family: 'HelveticaNeue', serif;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  vertical-align: top;
}
