.main {
  height: 6.25%;
}

.main::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.button {
  display: inline-block;
  height: 100%;
  padding: 0 10px;

  border-style: none;
  color: #b6b6b6;
  font: 13px 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
  outline: none;
  vertical-align: middle;
}

.button-light {
  background: #fff;
}

.button-dark {
  background: #595b5d;
}

.button-activated-light {
  color: #000;
  cursor: pointer;
}

.button-activated-dark {
  color: #fff;
  cursor: pointer;
}

.button-activated-light:hover {
  background: #f2f2f2;
}

.button-activated-dark:hover {
  background: #a3aab4;
}
