.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    cursor: pointer;
}

.checkbox.checkbox_checked {
	background-image: url(./resources/tick.svg);
	background-repeat: no-repeat;
}

.checkbox.checkbox_disabled {
	pointer-events: none;
}