.check {
  width: 16px;
  height: 16px;
  margin: 12px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 3px;
  float: left;
}

.main-block__topic {
  overflow: hidden;
  width: 30%;
  min-width: 30px;
  height: 18px;
  margin-top: 11px;
  margin-left: 2%;
  color: #000000;
  float: left;
  font-family: "'HelveticaNeue'", sans-serif;
  font-size: 0.8em;
}

.main-block__letter {
  height: 40px;

  border-bottom: 2px solid #e2e2e2;
  list-style: none;
}

.main-block__img {
  height: 30px;
  margin-top: 5px;
  margin-left: 2%;
  float: left;
  text-align: center;
}

.main-block__mail-from {
  overflow: hidden;
  width: 29%;
  height: 18px;
  margin: 10px;
  float: left;
  font-family: "'HelveticaNeue'", sans-serif;
  font-size: 0.8em;
}

.main-block__mail-not-read {
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin-left: 10px;
  background: #6287bd;
  border-radius: 50%;
  float: left;
}

.hidden {
  visibility: hidden;
}

.bold-text {
  font-weight: 700;
}

.main-block__date {
  overflow: hidden;
  width: 6%;
  height: 15px;
  margin-top: 12px;
  margin-right: 2%;
  color: #9b9b9b;
  float: right;
  font-family: "'HelveticaNeue'", sans-serif;
  font-size: 11px;
}
