.main {
  display: inline-block;
  width: calc(85% - 60px);
  min-width: 590px;
  height: 100%;
  margin-left: 20px;
  border-radius: 3px;
}

.main-light {
  background: #fff;
  box-shadow: 0 0 2px #000;
}

.main-dark {
  background: #595b5d;
  box-shadow: 0 0 2px #fff;
}
