.article {
  /*background: url("../../../src/background.jpg");*/
  background-attachment: fixed;
  background-size: 15%;
  /*background-repeat: space;*/
  /*background-color: #FFFFDD;*/
  margin-left: -40px;
  height: inherit;
}

.articleCancelSign {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.inp {
  display: none;
}
