.menu__actions-list_unstressed-link {
  color: inherit;
  text-decoration: none;
}

.menu__actions-list {
  list-style-type: none;
  padding-inline-start: 28px;
}

.menu__navigation {
  line-height: 22px;
  padding-left: 10px;
  margin-left: -28px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 11px;
  font-weight: 500;
  color: #707070;
}

.menu__navigation:hover {
  border-radius: 3px;
  background-color: #cdd6e4;
}

.menu__write-button {
  width: 147px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #6287bd;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.menu {
  display: inline-block;
  margin-top: 13px;
  margin-left: 22px;
  width: 147px;
}


.actionsList_unstressedLink {
  color: inherit;
  text-decoration: none;
}

.actionsList {
  list-style-type: none;
  padding-inline-start: 28px;
}

.navigation {
  line-height: 22px;
  padding-left: 10px;
  margin-left: -28px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 11px;
  font-weight: 500;
  color: #707070;
}

.navigation:hover {
  border-radius: 3px;
  background-color: #cdd6e4;
}

.writeButton {
  width: 147px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #6287bd;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.menu {
  display: inline-block;
  margin-top: 13px;
  margin-left: 22px;
  width: 147px;
}
