.MainMenu {
  padding: 0;
  list-style-type: none;
}

.MainMenu__Button {
  overflow: hidden;
  width: 147px;
  height: 32px;
  margin-bottom: 8px;
  background-color: #6287bd;
  cursor: pointer;
  white-space: nowrap;
}

.MainMenu__Item {
  overflow: hidden;
  max-width: 147px;
  max-height: 22px;
  padding: 2px 0 2px 10px;

  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainMenu__Item:hover {
  background-color: #cdd6e4;
  border-radius: 3px;
  color: #555555;

  font-weight: bold;
}

.MainMenu__Text.MainMenu__Button {
  display: table-cell;
  width: inherit;
  height: inherit;

  color: #fff;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.MainMenu__Text.MainMenu__Item {
  padding: 0;
  color: #707070;
  font-size: 11px;
}

.MainMenu__Text {
  font-family: 'HelveticaNeueCyr', serif;
  text-decoration: none;
}
