.menu {
  position: absolute;

  width: 150px;
  height: 100%;
  margin: 0 10px 0 20px;
}

.button {
  width: 100%;
  height: 22px;
  padding: 0 7px;
  margin-bottom: 3px;

  border: none;
  background: none;
  border-radius: 3px;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 11px;
  text-align: start;
}

.button:hover {
  cursor: pointer;
}

.buttonCurrent {
  width: 100%;
  height: 22px;
  margin-bottom: 3px;

  border: none;
  border-radius: 3px;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 11px;
  text-align: start;
}

.buttonCurrent:hover {
  cursor: pointer;
}

.buttonSpecial {
  width: 100%;
  height: 32px;
  margin-bottom: 8px;

  border: none;
  border-radius: 3px;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.buttonSpecial:hover {
  cursor: pointer;
}

.buttonSpecial:active {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 35px;
  padding: 14px 0;
}

.logo {
  margin-left: 30px;
}

.picture {
  width: 152px;
  height: 30px;
}

.picture--dark {
  filter: invert(100%);
}

.button--light {
  color: var(--secondary);
}

.button--dark {
  color: var(--secondary--dark);
}

.button--light:hover {
  background-color: var(--secondary-highlighted-background);
  color: var(--secondary-highlighted);
}

.button--dark:hover {
  background-color: var(--secondary-highlighted-background--dark);
  color: var(--secondary-highlighted--dark);
}

.buttonSpecial--light {
  background-color: var(--accent);
  color: var(--primary-background);
}

.buttonSpecial--dark {
  background-color: var(--accent--dark);
  color: var(--primary-background--dark);
}

.buttonSpecial--light:active {
  border-top: solid 2px var(--accent-active);
  border-left: solid 2px var(--accent-active);
}

.buttonCurrent--light {
  background-color: var(--secondary-highlighted-background);
  color: var(--secondary-highlighted);
}

.buttonCurrent--dark {
  background-color: var(--secondary-highlighted-background--dark);
  color: var(--secondary-highlighted--dark);
}

.buttonSpecial--dark:active {
  border-top: solid 2px var(--accent-active--dark);
  border-left: solid 2px var(--accent-active--dark);
}
