.msg-adding-start {
    height: 0;
    margin-top: -1px;
    opacity: 0;
}

.msg-adding-finish {
    height: 39.33px;
    opacity: 1;
    transition: height 1s ease 0s, opacity 1s ease 0s;
}

.msg-deleting-right {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 2s ease 0s, opacity 2s ease 0s;
}

.msg-deleting-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 2s ease 0s, opacity 2s ease 0s;
}