.mail-box {
  width: calc(100vw - 226px);
  border-radius: 3px;
  height: 555px;
  overflow: hidden;
}

.mail-box_theme_light {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
}

.mail-box_theme_dark {
  background-color: rgb(46,46,46);
  box-shadow: 0 2px 10px 2px #707070;
}

.mail-box__full-message {
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 0;
}

.mail-box__full-message_closed {
  display: none;
}

.mail-box__message-list-scroll-container {
  height: 474px;
  overflow-y: scroll;
  position: absolute;
  width: calc(100vw - 226px);
}

.mail-box__message-list-container {
  position: absolute;
  width: calc(100vw - 226px);
  overflow: hidden;
}

.mail-box__message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 446px;
}

.mail-box__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
