.block-inner {
  position: absolute;

  display: inline;
  overflow: auto;
  width: calc(100% - 221px);
  min-width: 550px;
  height: calc(100% - 70px);
  min-height: 250px;
  box-sizing: border-box;
  margin: 13px 20px 14px 22px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  white-space: nowrap;
}

.block-inner__letters {
  position: absolute;

  display: inline;
  overflow: auto;
  width: 100%;
  height: calc(100% - 68px);
  box-sizing: border-box;

  border-bottom: solid 1px #e2e2e2;
  font-size: 13px;
  overflow-x: hidden;
  white-space: nowrap;
}

.block-inner__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31px;
  box-sizing: border-box;
  padding: 9px 20px 0 0;
  border-top: solid 1px #e2e2e2;
  text-align: right;
}

.night {
  background-color: #424242;
}

.block-inner__footer-night {
  border-top: solid 1px #222;
}

