.hamburger {
  width: 20px;
  height: 30px;
  padding-top: 8px;
  float: left;
}

.slice {
  width: 20px;
  height: 2px;
  min-height: 2px;
  margin-bottom: 5px;
}

.slice--light {
  background-color: var(--primary);
}

.slice--dark {
  background-color: var(--primary--dark);
}
