.input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.area {
  display: inline-block;
  width: 52px;
  height: 100%;

  cursor: pointer;
  vertical-align: middle;
}

.area::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.area-border {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #e2e2e2;
  vertical-align: middle;
}

.input:checked + .area .area-border {
  background-image: url('../../../images/checkMark.svg');
}
