:global(body) :local(.app_theme_light) {
  background-color: #e5eaf0;
}

:global(body) :local(.app_theme_dark) {
  background-color: #212121;
}

.app {
  height: 100vh;
  padding-left: 8px;
}

.app__header {
  margin: 12px 18px;
}

.app__aside-menu {
  display: inline-block;
  margin-top: 8px;
  margin-left: 18px;
}

.app__mail-box {
  position: absolute;
  display: inline-block;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 10px;
}
