.content {
  overflow: hidden;
  min-width: 800px;
  height: 1350px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  vertical-align: top;
}

.content.dark{
  background-color: #222;
}
