main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-width: inherit;
  min-height: inherit;
  box-sizing: border-box;
  padding: 56px 20px 14px 22px;
}

.article__sova {
  float: left;
  shape-outside: circle(160px);
}
