.mainMenu {
    margin: 1px 22px;
    float: left;
}

.sendButton {
    vertical-align: top;
    width: 147px;
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    color: #fff;
    font-size: 12px;
    outline: 0;
    border: 0;
    margin-bottom: 2px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #6b90c7;
}