.letterPage__close {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.letterPage__delLine {
  text-decoration: none;
}

.letterPage__cross {
  width: 15px;
  height: 15px;
  margin-top: -8px;
  margin-right: 10px;
  float: right;
  opacity: 0.15;
}

.letterPage__cross_dark {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  margin-right: 10px;
  background-color: #cccccc;
  border-radius: 50%;
  float: right;
  opacity: 0.15;
}

.letterPage__textLetter {
  margin: 30px;
}

.letterPage__textLetter_dark {
  margin: 30px;
  color: #cccccc;
}
