.button {
  position: absolute;
  top: 3%;
  right: 7%;
  border-radius: 4px;
  font-size: 15px;
}

.button:focus {
  outline: none;
}

.night {
  background-color: #ffffff;
  color: #656565;
}

.day {
  background-color: #363c46;
  color: #ffffff;
}
