.letter-enter {
  height: 40px;
  background-color: #61a2e7;
}

.letter-enter-done {
  height: 40px;
  background-color: #fff !important;
}

.letter-enter.letter-enter-active {
  background-color: #fff;
  transition: background-color 2s ease-in;
}

.letter-exit {
  background-color: #fff;
  left: 0;
  opacity: 1;
}

.letter-exit.letter-exit-active {
  overflow: hidden;
  left: 200px;
  border: unset;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.letter-exit-done {
  overflow: hidden;
  border: unset;
  opacity: 0;
  left: 200px;
}
