.letter {
  height: 42px;
  margin-left: 13px;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  overflow-y: hidden; /* needed for animation */
}

.letter.dark {
  color: #ccc;
}

.letter_new {
  -moz-animation: appear_animation 0.5s;
  -webkit-animation: appear_animation 0.5s;
  -o-animation: appear_animation 0.5s;
  animation: appear_animation 0.5s;
}

.letter_removed {
  -moz-animation: disappear_animation 0.5s;
  -webkit-animation: disappear_animation 0.5s;
  -o-animation: disappear_animation 0.5s;
  animation: disappear_animation 0.5s;
}

.label {
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  margin-right: 13px;
  vertical-align: middle;
}

.img {
  display: inline-block;
  height: 30px;
  margin: 5px 13px;
  border-radius: 30px;
  vertical-align: middle;
}

.from {
  display: inline-block;
  width: 175px;
  margin: 5px 13px;
  vertical-align: middle;
}

.readStatus {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px 13px;
  background-color: #6287bd;
  border-radius: 10px;
  vertical-align: middle;
  visibility: hidden;
}

.rightColumn {
  max-width: 400px;
  float: right;
}

.unread {
  visibility: visible;
}

.date {
  display: inline-block;
  width: 50px;
  margin: 12px 12px 12px 0;
  color: #9b9b9b;
  float: right;
  vertical-align: middle;
}

.text {
  display: inline-block;
  width: calc(100% - 430px);
  margin: 11px;
  font-weight: bold;
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.hideOverflow {
  overflow: hidden;
  text-overflow: unset;
  white-space: nowrap;
}

@keyframes disappear_animation {
  from {
    height: 42px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes appear_animation {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 42px;
  }
  to {
    opacity: 1;
  }
}
