.mails-header {
    line-height: 36px;
    height: 37px;
    border-bottom: 1px solid #e2e2e2;
    min-width: fit-content;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: auto 7px auto 20px;
}

.mails-menu-wrapper {
    vertical-align: middle;
    display: inline-block;
}
