.can-do {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  padding-bottom: 7px;
  margin-top: 8px;
  margin-bottom: 0;

  border-bottom: solid 1px #e2e2e2;
  font-size: 13px;
  outline: none;
  padding-inline-start: 17px;
}

.can-do__links {
  color: #ccc;
  cursor: pointer;
}

#can-do__highlight {
  width: 16px;
  height: 16px;

  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.can-do__resend {
  display: inline-block;
  margin-top: 3px;
  margin-left: 23px;
  font-family: 'HelveticaNeue', serif;
  vertical-align: top;
}

.can-do__delete {
  display: inline-block;
  margin-top: 3px;
  margin-left: 29px;
  font-family: 'HelveticaNeue', serif;
  vertical-align: top;
}

.can-do__make-spam {
  display: inline-block;
  margin-top: 3px;
  margin-left: 27px;
  font-family: 'HelveticaNeue', serif;
  vertical-align: top;
}

.can-do__read-msgs {
  display: inline-block;
  margin-top: 3px;
  margin-left: 28px;
  font-family: 'HelveticaNeue', serif;
  vertical-align: top;
}
