.main {
  width: 100%;
  height: 60px;
}

.main::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.svgicon-menu {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
  vertical-align: middle;
}

.svgicon-menu-light {
  background-image: url('../../images/menuBlack.svg');
}

.svgicon-menu-dark {
  background-image: url('../../images/menuWhite.svg');
}

.logo-container {
  display: inline-block;
  width: 128px;
  height: 32px;
  margin-left: 10px;
  vertical-align: middle;
}

.svgicon-yandex {
  display: inline-block;
  width: 75px;
  height: 32px;
}

.svgicon-mail {
  display: inline-block;
  width: 52px;
  height: 32px;
}

.search-container {
  display: inline-block;
  width: calc(100% - 380px);
  height: 34px;
  padding-left: 105px;
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
}

.switch-button {
  display: inline-block;
  width: 50px;
  height: 34px;
  margin: 0 20px;

  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  font: 15px 'Helvetica Neue', sans-serif;
  outline: 0;
  text-align: center;
  vertical-align: middle;
}

.switch-button-light {
  background: #595b5d;
  color: #fff;
}

.switch-button-dark {
  background: #e5eaf0;
  color: #000;
}
