.main {
  width: 100%;
  height: 60px;
}

.main::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.svgicon-menu {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
  vertical-align: middle;
}

.svgicon-menu-light {
  background-image: url('../../images/menuBlack.svg');
}

.svgicon-menu-dark {
  background-image: url('../../images/menuWhite.svg');
}

.logo-container {
  display: inline-block;
  width: 128px;
  height: 32px;
  margin-left: 10px;
  vertical-align: middle;
}

.svgicon-yandex {
  display: inline-block;
  width: 75px;
  height: 32px;
}

.svgicon-mail {
  display: inline-block;
  width: 52px;
  height: 32px;
}

.search-container {
  display: inline-block;
  width: calc(100% - 380px);
  height: 34px;
  padding-left: 105px;
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
}

.search-container__search {
  min-width: 500px;
  height: 100%;
  padding-right: 10px;
  padding-left: 16px;

  border-style: none;
  font: 15px 'Helvetica Neue', sans-serif;
}

.search-container__search::-webkit-input-placeholder {
  font: 15px 'Helvetica Neue', sans-serif;
}

.search-container__search::-webkit-search-cancel-button {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  background-size: contain;
}

.search-container__search-light {
  background-color: #f2f4f7;
  box-shadow: inset 0 0 0 1px #d9dbde;
  color: #000;
}

.search-container__search-light::-webkit-input-placeholder {
  color: #727477;
}

.search-container__search-light::-webkit-search-cancel-button {
  background-image: url('../../images/crossBlack.svg');
}

.search-container__search-dark {
  background-color: #595b5d;
  box-shadow: inset 0 0 0 1px #606265;
  color: #fff;
}

.search-container__search-dark::-webkit-input-placeholder {
  color: #fff;
}

.search-container__search-dark::-webkit-search-cancel-button {
  background-image: url('../../images/crossWhite.svg');
}

.switch-button {
  display: inline-block;
  width: 50px;
  height: 34px;
  margin: 0 20px;

  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  font: 15px 'Helvetica Neue', sans-serif;
  outline: 0;
  text-align: center;
  vertical-align: middle;
}

.switch-button-light {
  background: #595b5d;
  color: #fff;
}

.switch-button-dark {
  background: #e5eaf0;
  color: #000;
}
