.search {
  position: absolute;

  width: 301px;
  height: 26px;
  margin-top: 11px;

  margin-left: 320px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}


.loader {
  position: absolute;
  margin-left: 250px;
  margin-top: 8px;
  border: 1.5px solid #ccc; /* Light grey */
  border-top: 1.5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.none {
  position: absolute;
  display: none;
}
