.day {
  width: 100%;
  height: 100%;
  background: #e5eaf0;
  font-family: 'Helvetica Neue', sans-serif;
}

.night {
  width: 100%;
  height: 100%;
  background: #363c46;
  font-family: 'Helvetica Neue', sans-serif;
}
