@font-face {
    font-family: Yandex Sans Text Thin;
    src: url(../source/YandexSansText-Thin/YandexSansText-Thin.woff2) format('woff2');
    src: url(../source/YandexSansText-Thin/YandexSansText-Thin.ttf) format('truetype');
}
@font-face {
    font-family: Yandex Sans Text Bold;
    src: url(../source/YandexSansText-Bold/YandexSansText-Bold.woff2) format('woff2');
    src: url(../source/YandexSansText-Bold/YandexSansText-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Yandex Sans Text Regular';
    src: url('../source/YandexSansText-Regular/YandexSansText-Regular.woff') format('woff'),
         url('../source/YandexSansText-Regular/YandexSansText-Regular.ttf') format('truetype');
}



.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}