@font-face {
  font-family: Yandex Sans;
  src: url('/fonts/Yandex Sans Display-Regular.ttf');
}

@font-face {
  font-family: Helvetica Neue;
  src: url('/fonts/HelveticaNeue.ttf');
}

html {
  height: 100%;
}

body {
  min-width: 800px;
  height: 100%;
  min-height: 500px;
  margin: 0;
  background-color: #e5eaf0;
}
