.header {
    padding: 11px 0 13px 0;
    overflow: hidden;

    /* no explicit locating - meets BEM demands */
    position: relative;
}

.logo-wrapper {
    float: left;
}

.search-wrapper {
    height: 32px;
    overflow: hidden;
}

.search-wrapper1 {
    height: 32px;
    width: 52%;
    margin: auto;
}

.theme-switcher {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 5%;
}
