.contentHeader {
  width: 100%;
  height: 41px;

  border-bottom: solid 2px #e2e2e2;
}

.contentHeader__checkbox {
  position: relative;

  width: 18px;
  height: 18px;
  padding: 2px;
  margin-top: 12px;
  margin-left: 2%;

  border: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
  border-radius: 3px;
  color: #fff;
  float: left;
}

.contentHeader__checkbox_lightTheme {
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.contentHeader__checkbox_darkTheme {
  border: solid 1px rgba(255, 255, 255, 0.8);
}

.contentHeader__checkbox:checked {
  background-clip: content-box;
}

.contentHeader__checkbox_lightTheme:checked {
  background-color: rgba(0, 0, 0, 0.15);
}

.contentHeader__checkbox_darkTheme:checked {
  background-color: rgba(255, 255, 255, 0.8);
}
