.main-block {
  position: relative;

  width: calc(100% - 230px);
  min-width: 515px;
  min-height: 300px;
  padding: 0;
  margin: 0 20px 14px 22px;

  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
  float: right;
}
