.search {
  top: 17px;
  left: 220px;
  width: 301px;
  position: absolute;
  display: inline;
  margin-left: 114px;
  opacity: 0.5;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Yandex Sans Display', sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
}

.search__text {
  float: left;
  vertical-align: middle;
  line-height: 26px;
  border: none;
  font-size: 14px;
  width: 250px;
  height: 25px;
  margin-left: 0;
  opacity: 1.3;
  color: #000000;
}

.search__close {
  float: right;
  padding-right: 10px;
  opacity: 0.55;
  color: #000000;
  font-size: 11px;
  line-height: 29px;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background: none;
}
