.box {
  min-width: 301px;
  height: 32px;
}

.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1px 30px 1px 16px;

  border: none;
  font: 15px 'Helvetica Neue', sans-serif;
  outline: none;
}

.input_theme_light {
  background: #f2f5f8;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #6287bd;
}

.input_theme_dark {
  background: #1d1d1d;
  box-shadow: inset 0 0 0 1px rgba(192, 192, 192, 0.5);
  color: #f9f9f9;
}

.input_theme_light::placeholder {
  color: #000;
  opacity: 0.5;
}

.input_theme_dark::placeholder {
  color: #fff;
  opacity: 0.7;
}

.clearBox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -25px;
  vertical-align: middle;
}

.clearText {
  margin: -12px 0 0 1px;
  font-size: 25px;
  font-weight: 300;
}

.clearText_theme_light {
  color: #000;
  opacity: 0.3;
}

.clearText_theme_dark {
  color: #fff;
  opacity: 0.4;
}

.clearBox:hover > .clearText {
  opacity: 1;
}

.progressBar {
  position: relative;
  top: -1px;

  display: block;
  width: calc(100% + 46px);
  height: 3px;
}

.progressBar_complete {
  visibility: hidden;
}
