.disabled {
	pointer-events: none;
}

.disabled:hover {
	color: #ccc;
}

.actionButton:hover {
    color: #555;
}

.actionButton {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #ccc;
    margin-right: 26px;
}