.main {
  display: inline-block;
  width: 15%;
  min-width: 150px;
  margin-left: 20px;
  vertical-align: top;
}

.button-write {
  width: 100%;
  height: 32px;

  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font: 12px 'Helvetica Neue', sans-serif;
  outline: none;
  text-align: center;
}

.button-write-light {
  background: #6287bd;
  color: #fff;
}

.button-write-dark {
  background-color: #e5eaf0;
  color: #000;
}

.folders-list {
  margin-top: 10px;
}

.folders-list-button {
  width: 100%;
  height: 24px;
  padding-left: 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 13px 'Helvetica Neue', sans-serif;
  outline: none;
  text-align: left;
}

.folders-list-button-light {
  background: #e5eaf0;
  color: #707070;
}

.folders-list-button-light:hover {
  background: #d8e1ef;
}

.folders-list-button-dark {
  background: #515355;
  color: #fff;
}

.folders-list-button-dark:hover {
  background: #a3aab4;
}

.folders-list-button_selected-light {
  background: #cdd6e4;
  font-weight: bold;
}

.folders-list-button_selected-light:hover {
  background: #cdd6e4;
}

.folders-list-button_selected-dark {
  background: #9aa0aa;
  font-weight: bold;
}

.folders-list-button_selected-dark:hover {
  background: #9aa0aa;
}
