@font-face {
    font-family: 'Helvetica Neue';
    src: url('resources/fonts/helveticaneue-medium.otf');
    src: url('resources/fonts/helveticaneue-medium.otf') format("opentype"),
    url('resources/fonts/helveticaneue-medium.eot?#iefix') format('embedded-opentype'),
    url('resources/fonts/helveticaneue-medium.woff2') format('woff2'),
    url('resources/fonts/helveticaneue-medium.woff') format('woff'),
    url('resources/fonts/helveticaneue-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('resources/fonts/helveticaneue-light.otf');
    src: url('resources/fonts/helveticaneue-light.otf') format("opentype"),
    url('resources/fonts/helveticaneue-light.eot?#iefix') format('embedded-opentype'),
    url('resources/fonts/helveticaneue-light.woff2') format('woff2'),
    url('resources/fonts/helveticaneue-light.woff') format('woff'),
    url('resources/fonts/helveticaneue-light.ttf') format('truetype');
}
