@font-face {
  font-family: 'Yandex Sans Light';
  src: url(fonts/YandexSansText-Light.ttf);
}

@font-face {
  font-family: 'Yandex Sans Bold';
  src: url(fonts/YandexSansText-Bold.ttf);
}

@font-face {
  font-family: 'Yandex Sans Regular';
  src: url(fonts/YandexSansText-Regular.ttf);
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(fonts/HelveticaNeueCyr-Bold.otf);
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(fonts/HelveticaNeueCyr-Medium.otf);
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url(fonts/HelveticaNeueCyr-Light.otf);
}

p {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
