@font-face {
  font-family: Yandex Sans;
  font-style: normal;
  src: url(./fonts/YandexSansText-Regular.eot) format('eot');
}

@font-face {
  font-family: HelveticaNeue;
  src: url(./fonts/HelveticaNeueCyr-Light.otf) format('opentype');
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/HelveticaNeueCyr-Medium.otf) format('opentype');
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: bold;
  src: url(./fonts/HelveticaNeueCyr-Bold.ttf) format('truetype');
}

body {
  background-color: #e5eaf0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
