.burgerMenu {
  display: inline-block;
  margin-top: 7px;
}

.burgerMenu__line {
  width: 20px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #000000;
}

.burgerMenu__line_dark {
  width: 20px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
